PORT=3056
DB_HOST=localhost
DB_PORT=3306
DB_NAME=fatcat
DB_USERNAME=root
DB_PASSWORD=passroot
JWT_SECRET=your_jwt_secret_here
EMAIL=your_email@gmail.com
PASSWORD=your_email_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SERVER_URL=https://fatcat-flashcard-app.onrender.com/v1/api/
